
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body{
    background-color: var(--color-background);

}
.cursor{
    position:absolute;
    width: 16.5px;
    height: 30px; 
    z-index: 10;
    margin: 9.2cm 100px ;
    transition: var(--transition);
    border-left:var(--border-left);
    border-bottom: var(--border-down);
    border-top:var(--border-top);
    border-right:var(--border-right);
    opacity: var(--opacity);
    

}

h2{
    font-family: dongle;
}



h1{
    position: fixed;
    z-index: 1000;
    margin-left: 75px;
    margin-top: 260px;
    font-family: Dongle;
    font-weight: 800;
    color: var(--color-heading);
    font-size: 80px;
}
.container{
    width: 85vw;
    height:3.5cm;
    background-color: var(--color-background);
    margin: 9cm 50px;
    padding: 0px 50px 0px 50px;
    position:absolute;
    overflow-y: hidden;
    
}
.typingarea{
    margin: 0px 0px 0px;
    line-height: 42px;
    position:absolute;
    
}
.purple{
    background-color: #ff475692;
}

.char{
    font-size: 30px;
    font-family: consolas;
    font-weight: 500;
    
    color: var(--color-text);
}




input{
    width: 1000px;
    opacity:0;
    z-index: -999;
}

.red{
    color: #ff47569d;
    transition: all 0.1s ease;
}

.green{
    color: #e6e2dc;
    transition: all 0.1s ease;
}







.retry-button {
    background: transparent;
    filter: drop-shadow(2px 2px 4px rgba(38, 36, 36, 0.637));
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 60px;
    color: var(--color-heading);
}

.retry-button:hover {
    transform: translateY(-2px);
    color: whitesmoke;
}

.retry-button:active {
    transform: translateY(2px);
}

.next-button {
    background: transparent;
    filter: drop-shadow(2px 2px 4px rgba(38, 36, 36, 0.637));
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: var(--color-heading);
   
}

.next-button:hover {
    transform: translateY(-2px);
    color:whitesmoke;
}

.next-button:active {
    transform: translateY(2px);
}

strong{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 26px;
    color: var(--color-heading);
}



.show-next,.show-retry{
    display: none;
    position:absolute;
    color: var(--color-heading);
    border: 2px solid var(--color-text);
    padding: 4px 10px 4px 10px;
    margin-top: 100px;
    width: 50px;
}

.show-next {
    width: 120px;
}

.next-button:hover .show-next{
    display:flex;
    flex-direction: column;
}
.retry-button:hover .show-retry{
    display:flex;
    flex-direction: column;
}

.result-page{
    position:relative;
    width:100vw;
    margin-top: 230px;
    z-index: 1;
    transition: opacity 0.1s ease-in;
}

.hide-main-content{
    opacity: 0;
}

.hidden-result-page{
    opacity:0;
}

.result{
    display:flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: center;
    justify-content: center;

}

.result-area{
    display: flex;

}

.chart{
    height: 6cm;
    width: 80vw;
    background: transparent;
    margin-left: 50px;
}

.strong{
    font-size: 60px;
}

.not-focus{
    background-color: var(--color-background);
    z-index: 1000;
    height: 3.5cm;

    
}

.not-focus .typingarea{
    opacity: 3%;
}





.not-focus::after{
    content: "click to focus 👆🏻";
    color: var(--color-heading);
    font-size: 20px;
    margin-left: 45%;
    margin-bottom: 10%;
}

.accuracy,.raw,.char-info{
    display:flex;
    margin-top: 30px;
    margin-left:100px;
}

.buttons{
    display:flex;
    margin-top: 30px;
    z-index: 1000;
    margin-left: 60px;
    
}

.footer{
    display: flex;
    align-items: center;
    height: 60px;
}

h4{
    font-size: 60px;
    display:flex;
    align-items:center;
    font-family: dongle;
    
    color:var(--color-heading);
}

h6{
   font-size: 30px;
   font-family: Dongle;
   color:var(--color-text);
   margin-right: 10px;
}

.hidden-char-info{
    display:none;
    margin-top: 150px;
}

h4:hover .hidden-char-info{
    display:block;
    position:absolute;
}