:root{
  --color-text: rgb(255, 255, 255);
  --color-background: rgb(0, 0, 0);
  --color-heading: rgb(255, 255, 255);
  --border-left: 3px solid var(--color-heading);
  --border-down: none;
  --border-top: none;
  --border-right:none;
  --opacity:100%;
  --transition: transform 0.2s ease ;
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
